{% extends 'layout.html' %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Team members: </h1>
            <h2>Alexandre Tarantini </h2> <a href="alexandre.tarantini@inait.ai"> Email</a> <a href=""> @atarantin</a>
            <br />
            <h2>Joao Afonso</h2> <a href="joao.afonso@inait.ai"> Email</a> <a href=""> @jafonso</a>
            <br />
            <h2>Pedro Rodrigues</h2> <a href="pedro.rodrigues@inait.ai"> Email</a> <a href=""> @prodrigue</a>
            <br />
            <h2>Qiyang Hu</h2> <a href="qiyang.hu@inait.ai"> Email</a> <a href=""> @qhu</a>
            <br />
        </div>
    </div>
</main>
{% endblock %}