{% extends 'layout.html' %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <img src="https://www.aaha.org/contentassets/150b34dfaf984d19a277b4ab52a5461d/image17jpn.png" width="100%">
      <h1>Team members: </h1>
      <h2>Alexandre Tarantini</h2>
      <h2>Joao Afonso</h2>
      <h2>Pedro Rodrigues</h2>
      <h2>Qiyang Hu</h2>
      <br />
      <h2>Expert-reviewed, thoroughly-researched guides</h2>
      <h2>to help you do the best for the feline in your life</h2>
    </div>
  </div>

</main>
{% endblock %}