{% extends 'layout.html' %}
{% block content %}
<div class="container">
        <br />
        <h2>We'd love to hear from you</h2>
        <br />
        <h3>You can contact our product owner, Alasdair MacLeod at <a href="mailto:alasdair@adaptdev.co.uk">
                        alasdair@adaptdev.co.uk</a></h3>
        <br />
        <h3>Or send us your comments by post to:</h3>
        <p>Scrum Evolution/AdaptDev Ltd</p>
        <p>42 Church St, Shildon DL4 1DY, Grossbritannien</p>
        <p>UK</p>
        <br />
</div>
{% endblock %}