{% extends 'layout.html' %}

{% block content %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Best Diets for Cats </h1>
      <br/>
      <h2>Cats be picky about their food. One thing to remember, don't try to make them a vegetarian! </h2> <br/>
      <br/>
      <h3>Cats need meat — you shouldn't feed them a vegetarian diet. They also need a good balance of fat, carbohydrates, vitamins, minerals, fatty acids, and amino acids, which are building blocks for protein. Cats' dietary needs change with age and health.</h3>
      <h2><b>Age matters</b></h2>
      <h3><b>Kitten diet.</b> Kittens need their mother’s milk from birth until they are 4 weeks old. Once weaning starts, they need high amounts of protein. As kittens grow, the amount of protein they need will steadily drop. Kittens also need calcium as well as fats for energy and fat-soluble vitamins.</h3>
      <br>
      <h3><b>Adult cat diet.</b> Adult cats need a balanced diet for healthy tissues and body systems. A diet of 50-60% protein and 30-50% fat is usually a good balance. If your cat isn’t very active, your vet might suggest different amounts. One of the most important parts of a cat diet is access to plenty of fresh, clean water.
      <br>
      A balanced meal once or twice a day for adult cats is best in most cases. This is also best for senior cats 7 and older. Sometimes cats have health conditions like diabetes or hyperthyroidism, which involves the overproduction of thyroid hormones, that can cause undereating or overeating. This condition can be treated so that your cat will return to eating normally.</h3>
      <br/>
      <h3><b>Senior cat diet.</b> There are no specific nutrition guidelines for senior cats. A senior diet usually starts around age 7, but it’s best to talk to your vet and set up a diet that suits your cat’s health.</h3>
      <br/>
      <h2><b>Cats’s nutritional needs can vary over time</b></h2>
      <br/>
      <h3>In addition to buying food according to your cat’s life stages, also consider any potential ailments or sensitivities they may acquire over time. For example, mother cats nursing their kittens require a much higher caloric diet, says the VCA, and some cats end up needing more simplistic diets due to allergies. Your vet can help you navigate these particular needs. These myths about cats are actually false.
      Senior cats need food high in protein and moisture to support their renal systems while being lower in fat and calories to prevent weight gain, which can have adverse health consequences. For older indoor cats, this grain-free food is a great option.</h3>
      <br/>
      <h2><b>Suggested food</b></h2>
      <h3>
        <b>Dry food.</b> Dry food is made of a mixture of meat and meat byproducts, grain, vitamins, minerals, poultry and poultry byproducts, and fish meal. This mixture is dried into small bite sizes and is often coated in fat, which helps with taste. Sometimes, though, cats don’t like dry food and don’t digest it very well.<br>
        <b>Semi-moist food.</b> Semi-moist food is made mostly of meat and meat byproducts with some fillers and preservatives added. This type of food has more moisture and might be tastier to cats. Once the package is opened, though, the food can dry out, harden, and spoil.<br>
        <b>Canned food.</b> Canned cat food contains only meats and meat by-products. It has high moisture and is a good food source of water for your cat. It’s much tastier for your cat, but some brands may not have all the nutrition your cat needs. Canned cat food should be kept in the fridge once it's opened.<br>
        <b>Homemade food.</b> You may want to make your own cat food, but this is generally not recommended unless your vet tells you this is the best option. Homemade food often doesn’t have the right balance of proteins, fats, carbohydrates, and vitamins and minerals.<br>
        <b>Treats.</b> It’s OK to give your cat occasional treats. Raw meat and canned fish for humans are not recommended because cats can get sick from eating these foods. It’s also best not to feed your cat milk because cats can be lactose-intolerant.<br>
      </h3>
    </div>
  </div>
</main>
{% endblock %}