{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>Mating and Reproduction</h1>
    <p>
        Like dogs, cats also have an estrous, or heat, cycle.
        However, female cats, which are called queens, are induced ovulators.
        This means that they do not ovulate (pass an egg) unless they are bred.
        This greatly increases the chances of conception when bred, which is why stray queens often have many kittens
        per year.
        The queen can enter her first heat as young as 4 months of age,
        and she generally has 2 or 3 heat cycles during the breeding season (typically February to October in the
        northern hemisphere).
        During heat, the queen is receptive to males and shows characteristic mating behavior.
        She will roll, rub against objects, knead her back feet, and yowl repeatedly and loudly.
        This behavior can last 3 to 20 days and can repeat in 10 to 40 days if the queen is not bred.
        If the queen is bred, the cycle ends as her body prepares for pregnancy.
    </p>
    <br />
    <p>
        Kittens from the same litter can have different sires.
        Gestation, or pregnancy, lasts about 2 months (60 to 63 days), with an average litter size of about 4 kittens.
        Queens can be bred by more than one male during a heat period, resulting in kittens from the same litter with
        different sires.
        Signs of pregnancy include a large abdomen, increased appetite, and swollen mammary glands that may release milk
        when squeezed.
        During the later stages of pregnancy, the queen seeks a nesting area and places bedding in a quiet, secluded
        spot.
        Cats that are not pregnant sometimes show these signs of pregnancy during a pseudopregnancy, or false pregnancy.
        This usually begins at the end of estrus and can last for several months.
        Your veterinarian can tell you if the pregnancy is real or false.
    </p>
    <br />
    <p>
        During the first 4 weeks of life, kittens will be entirely dependent upon the mother for all of their nutrition
        and to meet their basic needs.
        At this age, kittens cannot regulate their own body temperatures, so the mother is essential to helping keep
        them clean, warm, and safe.
        After 4 weeks, the mother will begin teaching her kittens basic skills to help them survive on their own.
        During this time, kittens will learn how to eat, hunt, and use the bathroom independently.
        Kittens will also learn basic communication and interaction skills by imitating the mother.
        The best time for a human to be introduced would be during this period.
        It is helpful for kittens to have human interaction beginning at 4 weeks if they are going to be kept as pets.
        This human interaction by no means replaces the need for the mother,
        as the mother plays an even more important role in the weaning process.
        The mother continues to teach her kittens how to behave, and will correct inappropriate behavior.
        By the time the kittens reach 8 weeks old, they should be able to eat solid foods
        and the mother's milk will start to dry up.
        Some kittens will continue to nurse even up to 12 weeks old,
        though usually nursing to this age is mostly for the purpose of comforting the kittens rather than for providing
        nutrition.
        It is a common misconception that kittens can be separated from their mothers as early as 8 weeks old.
        However, kittens separated at this time are still at risk for developmental, social, and health issues.
        Instead, kittens should remain with their mothers until they are 12-14 weeks old.
        By this age (and with proper human interaction and training),
        kittens should be able to go to the bathroom in an appropriate place (i.e.
        the litter box), play on their own instead of needing other littermates,
        they will have a fully developed immune system, should be fully vaccinated,
        and will not be a victim of unnecessary stress that comes from weaning too early.
    </p>
</div>
{% endblock %}